In [20]:
import clickhouse_connect
import polars as pl
import matplotlib.pyplot as plt
import numpy as np
client = clickhouse_connect.get_client(host='hub.publichealthhq.xyz', port=18123, username='default', password='Password123!')
result = client.query("""
SELECT DISTINCT STATE_NAME, COUNTY_NAME, TOTAL_POPULATION, RUCC
FROM cps_00004.places_county 
JOIN cps_00004.rural_urban_codes 
ON cps_00004.places_county.COUNTY_FIPS = rural_urban_codes.FIPS 
""")

df = pl.from_dicts(result.named_results(), infer_schema_length=400)

In [21]:
len(df)

3135

In [22]:
total_pop = df.group_by(['STATE_NAME']).agg( pl.col('TOTAL_POPULATION').sum() )

In [23]:
pop_by_county = df.join(total_pop, 'STATE_NAME')\
.group_by(['STATE_NAME', 'COUNTY_NAME'])\
.agg( pl.col('TOTAL_POPULATION').sum() / pl.col('TOTAL_POPULATION_right').first() )

In [24]:
pop_by_county

shape: (3_135, 3)
┌──────────────┬─────────────┬──────────────────┐
│ STATE_NAME   ┆ COUNTY_NAME ┆ TOTAL_POPULATION │
│ ---          ┆ ---         ┆ ---              │
│ str          ┆ str         ┆ f64              │
╞══════════════╪═════════════╪══════════════════╡
│ Vermont      ┆ Franklin    ┆ 0.077954         │
│ Texas        ┆ Upshur      ┆ 0.001415         │
│ Vermont      ┆ Windham     ┆ 0.071394         │
│ Utah         ┆ Grand       ┆ 0.002895         │
│ Vermont      ┆ Orange      ┆ 0.04576          │
│ …            ┆ …           ┆ …                │
│ Ohio         ┆ Knox        ┆ 0.005339         │
│ Ohio         ┆ Noble       ┆ 0.001203         │
│ Ohio         ┆ Carroll     ┆ 0.002266         │
│ Ohio         ┆ Highland    ┆ 0.00368          │
│ North Dakota ┆ Ramsey      ┆ 0.014933         │
└──────────────┴─────────────┴──────────────────┘

In [25]:
df.unique(keep='first') #.select(['STATE_NAME', 'COUNTY_NAME', 'RUCC'])

shape: (3_135, 4)
┌──────────────┬───────────────┬──────────────────┬──────┐
│ STATE_NAME   ┆ COUNTY_NAME   ┆ TOTAL_POPULATION ┆ RUCC │
│ ---          ┆ ---           ┆ ---              ┆ ---  │
│ str          ┆ str           ┆ i64              ┆ i64  │
╞══════════════╪═══════════════╪══════════════════╪══════╡
│ Vermont      ┆ Franklin      ┆ 50325            ┆ 3    │
│ Virginia     ┆ Craig         ┆ 4865             ┆ 2    │
│ Virginia     ┆ Prince Edward ┆ 21932            ┆ 6    │
│ Texas        ┆ Smith         ┆ 237186           ┆ 3    │
│ Vermont      ┆ Lamoille      ┆ 26126            ┆ 8    │
│ …            ┆ …             ┆ …                ┆ …    │
│ North Dakota ┆ Burke         ┆ 2158             ┆ 8    │
│ Oklahoma     ┆ Comanche      ┆ 122063           ┆ 3    │
│ Ohio         ┆ Stark         ┆ 373834           ┆ 2    │
│ Ohio         ┆ Jackson       ┆ 32511            ┆ 7    │
│ Oklahoma     ┆ Canadian      ┆ 161737           ┆ 1    │
└──────────────┴───────────────┴──────────────────┴──────┘

In [27]:
pop_rcc_by_county = pop_by_county.join(
    df.select(['STATE_NAME', 'COUNTY_NAME', 'RUCC']), on=['STATE_NAME', 'COUNTY_NAME'], how='inner')\
.select(['STATE_NAME', 'COUNTY_NAME', 'TOTAL_POPULATION', 'RUCC'])

In [37]:
pop_rcc_by_county\
.with_columns( WEIGHTED_RUCC=pl.col('TOTAL_POPULATION') * pl.col('RUCC'))\
.group_by(['STATE_NAME'])\
.agg( pl.col('WEIGHTED_RUCC').sum()).sort('WEIGHTED_RUCC', descending=True)

shape: (50, 2)
┌──────────────────────┬───────────────┐
│ STATE_NAME           ┆ WEIGHTED_RUCC │
│ ---                  ┆ ---           │
│ str                  ┆ f64           │
╞══════════════════════╪═══════════════╡
│ Vermont              ┆ 5.531581      │
│ Wyoming              ┆ 5.514712      │
│ South Dakota         ┆ 4.822907      │
│ Montana              ┆ 4.703812      │
│ North Dakota         ┆ 4.666474      │
│ …                    ┆ …             │
│ Maryland             ┆ 1.325412      │
│ California           ┆ 1.30588       │
│ New Jersey           ┆ 1.126739      │
│ District of Columbia ┆ 1.0           │
│ Rhode Island         ┆ 1.0           │
└──────────────────────┴───────────────┘

In [4]:
df2 = pl.from_dicts(result.named_results(), infer_schema_length=400)
pop_by_rucc = df2.join('RUCC', 'COUNTY_NAME')\
.group_by(['COUNTY_NAME'])\
.agg( pl.col('RUCC').sum()).sort('RUCC', descending=True)

NameError: name 'df2' is not defined

In [ ]:
pop_by_rucc